body {
    background-color: red;
}


.border {
    color: #000000;

    border-radius: 10px;
    padding: 15px 15px;
    margin: 20px;
}

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

.border {
    border-style: solid;
    margin: auto;
    padding: 20px;
    /* max-width: 60%;
    height: 80%; 
    max-height: 80%; */
    border-color: #000000;
}

.center {
    text-align: center;
}
